<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<NUnit>
		<NumberOfTestWorkers>4</NumberOfTestWorkers>
	</NUnit>
	<Playwright>
		<BrowserName>chromium</BrowserName>
		<ExpectTimeout>5000</ExpectTimeout>
		<LaunchOptions>
			<Headless>false</Headless>
			<!--Usefull to see what is going on during a test -->
			<!--Setting slows down every action by provided miliseconds. -->
			<!--<SlowMo>1000</SlowMo>-->
		</LaunchOptions>
	</Playwright>
</RunSettings>